<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Crisis Detected</title>
        <link rel="stylesheet" href="../static/crisis.css">
    </head>
    <body>
        <div class="board">
            <h1 class="board-text">Crisis Detected</h1>
            <p>Your conversation has been detected as a crisis. Please seek medical help immediately.</p>
            <h2>Helpline Numbers and Emergency Contacts</h2>
            <p>For immediate assistance, please contact the following:</p>
            <ul>
                <li>Emergency Services: 112</li>
                <li>National Suicide Prevention Lifeline: 1-800-273-8255</li>
                <li>Health care helpline number: 1800-599-0019</li>
                <!-- Add more emergency contacts here -->
            </ul>
        </div>
    </body>
</html>


